body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 24px
  font-weight: 300
  color: #333

.famous-container
  .famous-surface
    background: rgba(200, 200, 200, 0.5)
    cursor: pointer
    
    &.active
      background: rgba(200, 255, 200, 0.5)